body {
    background: #081535;
    overflow: hidden;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    user-select: none;
}

.bg-transparent-header {
    background-color: rgba(255, 255, 255, 0.6); /* White background with 80% opacity */
    backdrop-filter: blur(10px); /* Optional: Add blur effect */
}

#particles-js,
#parallax,
.layer,
.some-space,
.some-more-space {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Behind the main content */
    overflow: visible;
}

#particles-js {
    opacity: 0.6;
}

#center {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

#left-top {
    top: 0;
    left: 0;
    transform: translate3d(-50%, -50%, 0);
}

#right-top {
    top: 0;
    left: 100%;
    transform: translate3d(-50%, -50%, 0);
}

#right-bottom {
    top: 100%;
    left: 100%;
    transform: translate3d(-50%, -50%, 0);
}

#rounded-dots {
    top: 50%;
    left: 50%;
    transform: translate3d(-5%, -5%, 0);
}

#vertical-dots {
    top: 100%;
    left: 0;
    transform: translate3d(-50%, -140%, 0);
}

#splitted-sircle {
    top: 100%;
    left: 0;
    transform: translate3d(55%, -135%, 0);
}

#circle2 {
    top: 50%;
    left: 50%;
    transform: translate3d(-140%, 60%, 0);
}

/* a {
    color: white;
    border: 1px solid white;
    display: table;
    position: absolute;
    top: 60%;
    left: 50%;
    letter-spacing: 0.05em;
    transform: translate3d(-50%, -50%, 0);
    text-decoration: none;
    transition: all 200ms ease;
    padding: 10px 15px;
}

    a:hover {
        background: white;
        color: black;
    } */

.some-space {
    animation: rotate 18s 0.5s infinite linear reverse;
}

.some-more-space {
    animation: rotate 15s 0.1s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
    }
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*html {
  position: relative;
  min-height: 100%;
}*/

body {
  margin-bottom: 60px;
}

.toast-img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}