@using Microsoft.AspNetCore.Identity
@using DiplomaManagement.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ApplicationUser? user = null;
    if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        user = await UserManager.GetUserAsync(User);
    }
}

@if (user != null && SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(user, "Director"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Director" asp-action="AssignedPromoters">@Localizer["promoters"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Institute" asp-action="InstituteAssignedStudents">@Localizer["students"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Institute" asp-action="Statistics">@Localizer["institute-statistics"]</a>
    </li>
}
