@using DiplomaManagement.Interfaces
@using Microsoft.AspNetCore.Identity
@using DiplomaManagement.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IThesisRepository _thesisRepository

@{
    ApplicationUser? user = null;
    if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        user = await UserManager.GetUserAsync(User);
    }
}

@if (user != null && SignInManager.IsSignedIn(User) && user != null && await UserManager.IsInRoleAsync(user, "Promoter"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Thesis" asp-action="Index">@Localizer["your-theses"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Enrollment" asp-action="ActiveEnrollments">@Localizer["enrollments"]</a>
    </li>
    @if (await _thesisRepository.isPromoterHasActiveThesisAsync(user.Id))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Thesis" asp-action="ActiveTheses">@Localizer["active-theses"]</a>
        </li>
    }
    @if (await UserManager.IsInRoleAsync(user, "SeminarLeader")) 
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Thesis" asp-action="SeminarLeaderTheses">@Localizer["theses-management"]</a>
        </li>
    }
}