@using DiplomaManagement.Interfaces
@using Microsoft.AspNetCore.Identity
@using DiplomaManagement.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IThesisRepository _thesisRepository

@{
    ApplicationUser? user = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User) && user != null && await UserManager.IsInRoleAsync(user, "Student"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Thesis" asp-action="AvailableTheses">Theses</a>
    </li>

    var thesisId = await _thesisRepository.GetStudentThesisAsync(user.Id);
    @if (thesisId != null) 
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Thesis" asp-action="Details" asp-route-id="@thesisId">Your thesis</a>
        </li>
    }
}