<link rel="stylesheet" href="~/css/statistics.css" asp-append-version="true" />

<div class="graphBox">
    <div class="box">
        <canvas id="thesisStatus"></canvas>
    </div>
    <div class="box">
        <canvas id="promoters"></canvas>
    </div>
</div>

@section Scripts {
    <script>
        // set global js variables to pass data to chart.js
        var thesesData = @Html.Raw(Json.Serialize(ViewBag.ThesesData));
        var polarAreaStatuses = Object.keys(thesesData);
        var polarAreaCounts = Object.values(thesesData);
        var polarAreaLabel = '@Localizer["thesis-statuses"]';

        var promotersData = @Html.Raw(Json.Serialize(ViewBag.PromotersData));
        var barNames = Object.keys(promotersData);
        var barCounts = Object.values(promotersData);
        var barLabel = '@Localizer["all-theses"]';
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/polar_area_chart.js"></script>
}
